/* Variables - Font Colours and Sizes
   ========================================================================== */

$bg: #3e3e3e;
$mc: #fafafa;
$hv: #737373;
$bb: #000f09;
$fontDiff: (20px-5);
$darken: #fafafa;
$theme: dark;
$fSize: (25px+15);
$mpf: 10px;